{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div data-overlay class="bg-primary-3 text-white o-hidden">
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9 text-center">
                        <h1 class="display-3">My Watchlist</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="divider divider-bottom bg-light"></div>
    </div>

    <section class="bg-light">
        <div class="container">
            <div class="row justify-content-between align-items-start">
                <div class="col-lg-8">
                    {% for stock in my_watchlist %}
                        <div class="mb-3 mb-sm-4 ">
                            <a href="{% url 'stock:stock' stock.symbol %}" class="card card-body flex-md-row align-items-start align-items-md-center hover-box-shadow">
                                <div style="width: 100%;">
                                    <span>Stock Code: {{ stock.symbol}}</span>
{#                                    <span style="float: right; margin-left: 12%;">{{ stock.user.username }}</span>#}
                                    <div style="margin-bottom: 1%; margin-top: 1%">
                                        <span >current price: ${{ stock.stock_quote.c }} per unit</span>
                                    </div>
                                    <p>percentage change</p>
                                    <div>
                                    <p class="card-text" style="float: left">{{ stock.createdAt }}</p>
{#                                    <button class="btn btn-primary" type="button" style="float: right" data-toggle="modal" data-target="deleteConfirmation">#}
{#                                         Remove#}
{#                                    </button>#}
                                    </div>
                                </div>

                            </a>
                             <form  action="{% url 'watchlist:delete' stock.symbol %}" method="post">
                                {% csrf_token %}
                                    <button class="btn btn-primary " type="submit" style="margin-top:5px;">
                                        <span>Remove</span>
                                    </button>
                            </form>
{#                            <button class="btn btn-primary" style="margin-top:5px;" type="button"  onclick="deleteStock({% url 'watchlist:delete' stock.symbol %})">#}
{#                                Remove#}
{#                            </button>#}
                        </div>

{#                        <div class="" style="position: fixed; top: 100px; left: 100px;  display: none; width: 100%;#}
{#                                                        height: 100%; overflow: hidden; outline: 0; "#}
{#                             id="deleteConfirmation"   tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#                            <div class="modal-dialog">#}
{#                                <div class="modal-content">#}
{#                                    <div class="modal-header">#}
{#                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>#}
{#                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                            <span aria-hidden="true">&times;</span>#}
{#                                        </button>#}
{#                                    </div>#}
{#                                    <div class="modal-footer">#}
{#                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                                        <button type="button" class="btn btn-primary" onclick="deleteStock()">Delete</button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    {% endfor %}
                    <div class="row justify-content-center mt-4">
                        <div class="col-auto">
                            <nav>
                                {% if my_watchlist.has_other_pages %}
                                <ul class="pagination">
                                    {% if my_watchlist.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link rounded" href="?page={{ my_watchlist.previous_page_number }}" aria-label="Previous">
                                            <img src="{% static 'img/icons/interface/icon-arrow-left.svg' %}" alt="Arrow Left" class="icon icon-xs bg-primary" data-inject-svg>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for i in my_watchlist.paginator.page_range %}
                                        {% if my_watchlist.number == i %}
                                            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if my_watchlist.has_next %}
                                    <li class="page-item">
                                        <a class="page-link rounded" href="?page={{ my_watchlist.next_page_number }}" aria-label="Next">
                                            <img src="{% static 'img/icons/interface/icon-arrow-right.svg' %}" alt="Arrow Right" class="icon icon-xs bg-primary" data-inject-svg>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block script_content %}
    <script>
        function deleteStock(url) {
            alert('here')
            {#var r = confirm('Confirm to delete?')#}
            if (true){
                $.ajax({
                    url: "http://127.0.0.1:8000/" + url,
                    type:'DELETE',
                    dataType: 'json',
                     success: function(res){

                     },
                    error: function(res){
                // 错误时处理逻辑
            }
            });
            }
        }
    </script>
{% endblock %}