{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div data-overlay class="bg-primary-3 text-white o-hidden">
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9 text-center">
                        <h1 class="display-3">My Watchlist</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="divider divider-bottom bg-light"></div>
    </div>

    <section class="bg-light">
        <div class="container">
            <div class="row justify-content-between align-items-start">
                <div class="col-lg-8">
                    {% for stock in my_watchlist %}
                        <div class="mb-3 mb-sm-4">
                            <a href="{% url 'watchlist:watchlist_detail' stock.id %}" class="card card-body flex-md-row align-items-start align-items-md-center hover-box-shadow">
                                <div style="width: 100%;">
                                    <span>Stock Code: {{ stock.symbol}}</span>
{#                                    <span style="float: right; margin-left: 12%;">{{ stock.user.username }}</span>#}
                                    <div style="margin-bottom: 1%; margin-top: 1%">
                                        <span >current price: ${{ stock.stock_quote.c }} per unit</span>
                                    </div>
                                    <p>percentage change</p>
                                    <div>
                                    <p class="card-text" style="float: left">{{ stock.createdAt }}</p>
                                    <button class="btn btn-primary" type="button" style="float: right">
                                         Remove
                                    </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                    <div class="row justify-content-center mt-4">
                        <div class="col-auto">
                            <nav>
                                {% if my_watchlist.has_other_pages %}
                                <ul class="pagination">
                                    {% if my_watchlist.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link rounded" href="?page={{ my_watchlist.previous_page_number }}" aria-label="Previous">
                                            <img src="{% static 'img/icons/interface/icon-arrow-left.svg' %}" alt="Arrow Left" class="icon icon-xs bg-primary" data-inject-svg>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for i in my_watchlist.paginator.page_range %}
                                        {% if my_watchlist.number == i %}
                                            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if my_watchlist.has_next %}
                                    <li class="page-item">
                                        <a class="page-link rounded" href="?page={{ my_watchlist.next_page_number }}" aria-label="Next">
                                            <img src="{% static 'img/icons/interface/icon-arrow-right.svg' %}" alt="Arrow Right" class="icon icon-xs bg-primary" data-inject-svg>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}