{% extends 'base.html' %}
{% load static %}

{% block title %}
    Watchlist
{% endblock %}

{% block content %}
    <div data-overlay class="bg-primary-2 text-white o-hidden">
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9 text-center">
                        <h1 class="display-3">My Watchlist</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="divider divider-bottom bg-light"></div>
    </div>

    <section class="bg-light">
        <div class="container">
            <div class="row justify-content-between align-items-start">
                <div class="col-lg-8">
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <p><a href="javascript:void(0);" onclick="javascript:introJs().setOption('showProgress', true).start();" class="mr-2 btn btn-primary btn-sm">
                            Intro
                        </a></p>
                    </div>
                    {% for stock in my_watchlist %}
                        <div class="mb-3 mb-sm-4">
                            <div class="card flex-md-row align-items-start align-items-md-center hover-box-shadow" data-intro='Each card shows the latest information of the stock you interested in.' data-step='1'>
                                <div style="width: 100%;">
                                    <div class="card-header bg-primary-3">
                                        <a href='/stock/{{stock.symbol}}' title='View detail' target='_blank' data-intro='Click stock code to view more details(a graph showing the historical daily closing unit price for the stock).' data-step='2'>Stock Code: {{stock.symbol}}</a>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text" style=" margin-top: 1%; margin-bottom: 1%">Current Price: ${{ stock.c }} per unit</div>
                                        <p class="card-text" data-intro='This percentage change compares the latest stock unit price to the stock unit price yesterday.' data-step='3'>Percentage Change: {{ stock.res }}%</p>
                                        <div class="card-text" style="float: left" data-intro='This is the date the stock was added to the watchlist.' data-step='4'>{{ stock.createdAt }}</div>
                                        <button class="btn btn-danger btn-sm" style="float: right" data-toggle="modal" data-target="#myModal" onClick="deleteurl('/delete/?delete_id={{stock.symbol}}')">Remove</button>
                                    </div>                                            
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row justify-content-center mt-4" >
                        <div class="col-auto">
                            <nav>
                                {% if my_watchlist.has_other_pages %}
                                <ul class="pagination">
                                    {% if my_watchlist.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link rounded" href="?page={{ my_watchlist.previous_page_number }}" aria-label="Previous">
                                            <img src="{% static 'img/icons/interface/icon-arrow-left.svg' %}" alt="Arrow Left" class="icon icon-xs bg-primary" data-inject-svg>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for i in my_watchlist.paginator.page_range %}
                                        {% if my_watchlist.number == i %}
                                            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if my_watchlist.has_next %}
                                    <li class="page-item">
                                        <a class="page-link rounded" href="?page={{ my_watchlist.next_page_number }}" aria-label="Next">
                                            <img src="{% static 'img/icons/interface/icon-arrow-right.svg' %}" alt="Arrow Right" class="icon icon-xs bg-primary" data-inject-svg>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="modal fade" style="position: fixed;z-index: 999999;max-width: 1000px; left: 270px; top:300px;" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
		        <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					    x
	                </button>
				    <h4 class="modal-title" id="myModalLabel">
	                    Remove it from your watchlist
		            </h4>
                </div>
			    <div class="modal-body">
	                Are you sure you want to remove this stock from your watchlist?
                </div>
			    <div class="modal-footer">
                    <input type="hidden" id="url"/>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close
				    </button>
                    <button type="button" class="btn btn-info btn-sm" onclick="urlSubmit()">
		                Confirm
                    </button>
			    </div>
		    </div>
	    </div>
    </div>
{% endblock %}

{% block script_content %}
    <script>
        function deleteurl(url){
             $('#url').val(url);
        }

        function urlSubmit(){ 
            var url=$.trim($("#url").val());
            window.location.href=url;   
        }
    </script>

{% endblock %}