


{% extends 'base.html' %}
{% load static %}
{% block title %}
    SimTrade
{% endblock %}
{% block content %}
    <section class="pb-0">
        <div class="container">
            <div class="p-0 text-dark rounded bg-white">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Account</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                data-target="#purchase">
                            Buy stock
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary">
                            View record
                        </button>
                    </div>
                </div>

                <div class="d-flex mb-3">
                    <div class="p-2 flex-fill">
                        <div class="numbers">
                            <a href="#" data-toggle="tooltip" data-placement="top"
                               title="Calculated as: = cash + market value of stocks">
                                Account Value</a>
                            <h4 class="mt-2 card-title">$100,000.00</h4>
                        </div>
                    </div>
                    <div class="p-2 flex-fill">
                        <div class="numbers">
                            <a href="#" data-toggle="tooltip" data-placement="top"
                               title="Total amount of cash available for trading stocks with">
                                Cash</a>
                            <h4 class="mt-2 card-title">$100,000.00</h4>
                        </div>
                    </div>
                    <div class="p-2 flex-fill">
                        <div class="numbers">
                            <a href="#" data-toggle="tooltip" data-placement="top"
                               title="Total market value of stocks">
                                Stock Value</a>
                            <h4 class="mt-2 card-title">$0.00</h4>
                        </div>
                    </div>
                    <div class="p-2 flex-fill">
                        <div class="numbers">
                            <a href="#" data-toggle="tooltip" data-placement="top"
                               title="Calculated as: = starting account value - current account value">
                                Earning Value</a>
                            <h4 class="mt-2 card-title">$0.00</h4>
                        </div>
                    </div>
                </div>

                <h2>Owned Stocks</h2>
                <table id="ownedStock"></table>
            </div>
        </div>
    </section>

    <div class="modal fade" id="purchase" data-backdrop="static">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">ORDER STOCK</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body row">
                    <div class="col-md-6">
                        <form action="/buy_stock" method="post">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="symbol" class="col-sm-4 col-form-label">STOCK SYMBOL</label>
                                <input type="text" id="symbol" class="form-control col-sm-4"
                                       name="bsym" placeholder="Enter stock symbol">
                                <div class="col-sm-4">
                                    <button type="button" onclick="checkStock()" class="btn btn-secondary btn-sm h-100">
                                        Symbol Lookup
                                    </button>
                                </div>
                            </div>
                            <div class="form-group row d-none bg-light" id="stockInfo">
                                <label for="curP" class="col-sm-3 col-form-label">CURRENT</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="curP"
                                           value="">
                                </div>
                                <label for="highP" class="col-sm-3 col-form-label">DAY'S HIGH</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="highP"
                                           value="">
                                </div>
                                <label for="lowP" class="col-sm-3 col-form-label">DAY'S LOW</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="lowP"
                                           value="">
                                </div>
                                <label for="chg" class="col-sm-3 col-form-label">OPEN</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="openP"
                                           value="">
                                </div>
                                <label for="pchg" class="col-sm-3 col-form-label">PREVIOUS CLOSE</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="clsP"
                                           value="">
                                </div>
                                <label for="update" class="col-sm-3 col-form-label">UPDATE</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="update"
                                           value="">
                                </div>
                            </div>
                            <div class="form-group row alert alert-danger d-none" id="checkTip" role="alert"> No data
                                found, please
                                check the symbol!
                            </div>
                            <div class="form-group row">
                                <label for="quantity" class="col-sm-4 col-form-label">QUANTITY</label>
                                <input type="number" class="form-control col-sm-4" id="quantity" disabled
                                       name="qua" onchange="changeQ()">
                            </div>
                            <div class="form-group text-right row">
                                <div class="col-sm-8">
                                    <button id="submit" type="button" onclick="orderSubmit()" class="btn btn-primary">Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                        <p>{{ buy_res }}</p>
                    </div>
                    <div class="col-md-6">
                        <table class="w-100">
                            <tr>
                                <td>Account Value</td>
                                <td>$100,000</td>
                            </tr>
                            <tr>
                                <td>Cash</td>
                                <td id="cashV" data-value="100000">$100,000<span id="chgC"></span></td>
                            </tr>
                            <tr>
                                <td>Stock Value</td>
                                <td id="stockV" data-value="100000">$100,000<span id="chgS"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_content %}
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function checkStock() {
            var sym = $("input#symbol").val()
            if (sym != null) {
                var url = 'https://finnhub.io/api/v1/quote?symbol=' + sym + '&token=buch32v48v6t51vholng';
                $.get(url, function (rawData) {
                    if (rawData['t'] != 0) {
                        $("div#checkTip").addClass('d-none');
                        $("input#curP").val(rawData['c']);
                        $("input#highP").val(rawData['h']);
                        $("input#lowP").val(rawData['l']);
                        $("input#openP").val(rawData['o']);
                        $("input#clsP").val(rawData['pc']);
                        $("input#update").val(getLocalTime(rawData['t']));
                        $("div#stockInfo").removeClass('d-none');
                        $("input#quantity").attr("disabled", false);
                    } else {
                        $("div#stockInfo").addClass('d-none');
                        $("div#checkTip").removeClass('d-none');
                        $("input#quantity").attr("disabled", true);
                    }
                });
            }
        }

        function changeQ() {
            var unit = parseFloat($("input#quantity").val());
            var price = parseFloat($("input#curP").val()).toFixed(2);
            var cash = parseFloat($("td#cashV").data("value")).toFixed(2);
            var stock = parseFloat($("td#stockV").data("value")).toFixed(2);
            if (unit * price > cash) {
                unit = parseInt(cash / price);
            }
            var chgC = parseFloat(cash - unit * price).toFixed(2);
            var chgS = parseFloat(stock - unit * price).toFixed(2);
            var chg = parseFloat(unit * price).toFixed(2)
            $("span#chgC").text(" - $" + chg + " = $" + chgC);
            $("span#chgC").css("color", "red");
            $("span#chgS").text(" + $" + chg + " = $" + chgS);
            $("span#chgS").css("color", "green");
            $("input#quantity").val(parseInt(unit));
        }

        function getLocalTime(nS) {
            return new Date(parseInt(nS) * 1000).toLocaleTimeString();
        }

        function orderSubmit() {
            $('#submit').attr("disabled", true);
            $.ajax({
                headers: {
                    'x-csrftoken': $('[name="csrfmiddlewaretoken"]').val(),
                },
                url: "/buy_stock",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    "symbol": $('input#symbol').val(),
                    "price": $('input#curP').val(),
                    "number": $('input#quantity').val()
                }),
                type: 'POST',
                success: function (res) {
                    if (res.type == 'success') {
                        $('#checkTip').removeClass('alert-danger')
                        $('#checkTip').addClass('alert-success')
                        $('#checkTip').html('Success!')
                        $('#checkTip').removeClass('d-none')
                    } else {
                        $('#checkTip').html('Fail! Please try again!')
                        $('#checkTip').removeClass('d-none')
                    }
                    setTimeout(function(){window.location.reload();},3000);
                }
            })
        }
    </script>
    <script>
        var queryUrl = '/sim_trade/getOwned/'//should use session
        $('#ownedStock').bootstrapTable({
            url: queryUrl,
            method: 'GET',
            striped: true,
            cache: false,
            sortable: true,
            sortOrder: "asc",
            search: true,
            strictSearch: true,
            showColumns: false,
            minimumCountColumns: 2,
            uniqueId: "stockID",
            showToggle: false,
            cardView: false,
            detailView: false,
            columns: [{
                field: 'stockID',
                title: 'Symbol',
                sortable: true
            }, {
                field: 'quantity',
                title: 'Quantity',
                sortable: true
            }, {
                field: 'avg_price',
                title: 'Average purchase price',
                sortable: true
            }, {
                field: 'max_price',
                title: 'Maximum purchase price',
                sortable: true
            }, {
                field: 'min_price',
                title: 'Minimum purchase price',
                sortable: true
            }, {
                field: 'ownedID',
                title: 'Action',
                width: 120,
                align: 'center',
                valign: 'middle',
                formatter: null,
            },],
            onLoadSuccess: function () {
            },
            onLoadError: function () {
            },
        });

        function actionFormatter(value, row, index) {
            var id = value;
            var result = "";
            result += "<button type='button' class='btn btn-sm btn-secondary'>Stock Detail</button>";
            result += "<button type='button' class='btn btn-sm btn-secondary'>Buy</button>";
            result += "<button type='button' class='btn btn-sm btn-secondary'>Sell</button>";
            return result;
        }
    </script>

{% endblock %}